<%#<%= link_to 'お気に入り', art_craft_favorite_path(@art_craft, @favorite_art_craft), method: 'show', class: "nav-item nav-link" %>


<div class="container">
  <div class="row p-3">
    <div class="col-12 p-3 favorite-message">
      Your favorite<br/>
      &ensp;&ensp;Manga/Anime</br>
    </div>
  </div>
  <div class="row p-3">
    
  </div>
</div>